.container {
    width: 80%;
    max-width: 1280px;
    min-width: 800px;
    display: flex;
    position: relative;
}

.left-side {
    background-image: url(../images/left-side.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    color: white;
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 100;
}

.title {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 70px;
}

.left-side-bottom {
    margin-bottom: 10%;
    margin-left: 10%;
}

.terms {
    color: white;
    text-decoration: underline;
    font-size: 16px;
}

.right-side {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: white;
    padding: 5% 0;
}

.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.form > .holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    color: #52698D;
}

.form input {
    border: none;
    border-bottom: 1px solid #52698D;
    font-size: 20px;
}

input:focus {
    outline: none;
}

.right-side-bottom {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 16px;
}

.btn {
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #577F9B;
    color: white;
    text-decoration: none;
}

.a-signIn {
    color: #577F9B;
    text-decoration: none;
}

.fa-xmark{
    color: #52698D;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 24px;
}
